* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background-image: url(image/frank\ ocean\ sito.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 30px;
    background-repeat: no-repeat;
}
.credit {
    text-align: center;
    font-size: 13px;
    color: #888;
    margin-top: 20px;
}
/* #h1{
    margin: center;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center; */
/* } */

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #E1E3E2;  
    /* background:  rgb(55, 57, 54); */
    margin: 100px auto 20px;
    padding: 30px;
    border-radius: 30px;
    
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    
}

.todo-app h2 {
    text-align: left;
    display:flex;
    margin-bottom: 10px;
    color: #000000;
}
.todo-app h2 img{
    width: 75px;
    margin-left: -14px;
    margin-top: -13px;
}
.row {
    display: flex;
    background: #eeeeee;
    border-radius: 3000px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.row input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
    font-size: 16px;
}

.row button {
    border: none;
    outline: none;
    background: rgb(55, 57, 54);
    color: white;
    padding: 0 25px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
}

.row button:hover {
    background:  #181515d7;
}

ul {
    list-style: none;
}

ul li {
    position: relative;
    padding: 12px 4px 12px 45px;
    margin-bottom: 10px;
    background: transparent;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
}

/* Lingkaran kiri */
ul li::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border: 2.5px solid #000000;
    border-radius: 100%;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

/* Tugas yang selesai */
ul li.checked {
    color: #777;
    text-decoration: line-through;
}

/* Lingkaran menjadi centang */
ul li.checked::before {
    content: "✔";
    background: rgb(55, 57, 54);
    color: white;
    border: none;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

/* Tombol hapus/span */
ul li span {
    content:"✗";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #555;
    cursor: pointer;
}

ul li span:hover {
    background: #ddd;
    color:  rgb(55, 57, 54);
}